{% load static %}

<ul class="nav index_switch text-center">
    <li class="nav-item">
        {% url 'Content:index' as index %}
        <a class="nav-link index_switch_link {% if request.path == index %}link_switch_active{% endif %}" href="{{ index }}">
            <span class="index_switch_text">书籍列表</span>
        </a>
    </li>
    <li class="nav-item">
        {% url 'Content:discussions' as discussions%}
        <a class="nav-link index_switch_link {% if request.path == discussions %}link_switch_active{% endif %}" href="{{ discussions }}">
            <span class="index_switch_text">讨论列表</span>
        </a>
    </li>
</ul>