{% load static %}
<div class="container-fluid mx-0 px-0">
    <!-- navbar's brand -->
    <nav class="navbar navbar-light navbar-expand-md navbar-fixed-top border border-grey bg-white pb-2">
        <a class="navbar-brand ml-sm-0 ml-md-5" href="{% url 'Content:index' %}">
            <img class="nav-brand-img" src="{% static 'Content/img/logo.png' %}" alt="" style="max-width:25px"> <i class="nav-brand-text">Share</i>
        </a>

        <button type="button" class="navbar-toggler btn" data-toggle="collapse" data-target="#navbar" >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mr-sm-0 mr-md-5" id="navbar">
            <div class="navbar-nav mr-auto">
                <form class="form-inline mx-2 rounded-2" method="GET" action="{#  #}">
                    <div class="input-group">
                        <input type="text" class="form-control nav-search" name="search" placeholder="搜索" />
                        <button class="input-group-append btn btn-info">搜索</button>
                    </div>
                </form>
            </div>

            <div class="navbar-nav ml-auto">
                {% url 'Content:index' as index_url %}
                <a class="nav-item nav-link nav-text {% if request.path == index_url %} active {% endif %} mx-1" href="{{ index_url }}">
                    <img class="nav-icon" src="{% static "Content/img/icon/home.png"  %}" alt="home" />
                    <span class="nav-home">首页</span>
                </a>
                {# url as ... #}
                <a class="nav-item nav-link nav-text {# % if request.path == archive_url %  active  % endif % #} mx-1" href="{#  #}" >
                    <img class="nav-icon" src="{% static "Content/img/icon/archive.png" %}" alt="archive" />
                    <span class="nav-archive">归档</span>
                </a>
            </div>
        </div>
    </nav>
</div>