{% extends 'Content/index.html' %}
{% load static %}
{% load widget_tweaks %}


{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'Content/css/add_form.css' %}"/>
{% endblock %}

{% block title %}
    增加标签
{% endblock %}

{% block content %}
    <div class="jumbotron add_form">
        <div class="row justify-content-center add_title">
            添加标签
        </div>

        <form method="POST" action="">
            {% csrf_token %}

            <div class="form-group">
                <label for="name">
                    标签名
                </label>

                {% for error in form.name.errors %}
                    <small class="form-help text-muted">{{ error }}</small>
                {% endfor %}

                {{ form.name|add_class:"form-control"|attr:"id:name;name;name" }}
            </div>

            <div class="row justify-content-center">
                <input type="submit" class="form-control btn btn-info col col-5" value="提交"/>
            </div>
        </form>
    </div>
{% endblock %}