{% extends 'Content/index.html' %}
{% load content_tags %}

{% block title %}
    收藏的书籍
{% endblock %}

{% block content %}
    <ul class="nav index_switch text-center flex-column flex-md-row pb-3 pb-md-0">
        <li class="nav-item">
            {% url 'Content:collection_books' as collection_books_Url %}
            <a class="nav-link index_switch_link link_switch_active" href="{{ collection_books_url }}" name="switcher">
                <span class="index_switch_text">收藏夹中的书籍</span>
            </a>
        </li>
    </ul>

    {% show_books books %}
{% endblock %}