{% extends 'Content/base.html' %}
{% load static %}
{% load content_tags %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'Content/css/book_list.css' %}" />
    <link rel="stylesheet" href="{% static 'Content/css/right_nav.css' %}" />
    <link rel="stylesheet" href="{% static 'Content/css/index_switch.css' %}" />
{% endblock %}

{% block title %}
Index
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row mx-sm-0 mx-md-5 px-sm-1 px-md-5">
            <div class="col col-12 col-lg-8">
            {% block content %}
                {% include 'Content/component/index_switch.html' %}
                {% show_books object_list %}
                {% paginate paginator page_obj %}
            {% endblock %}
            </div>

            <div class="col">
            {% block right-nav %}
                {% include 'Content/component/right_nav_index.html' %}
            {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}