.top_auther_info {
    background-color: white !important;
    margin-top: 25px;
}

.index_switch {
    margin-top: -20px;
}

.top_auther_title {
    margin-top: -40px;
}

.top_auther_name {
    margin-top: 20px;
}