.top_publishing_info {
    background-color:rgba(255, 255, 255, 0.7) !important;
    margin-top: 25px;
}

.index_switch {
    margin-top: -10px;
}

.top_publishing_title {
    margin-top: -40px;
}

.top_publishing_name {
    margin-top: 20px;
}