{% load static %}
{% load discussion_tags %}

<!-- 热门回复 -->
<div class="hot_discussion per_right_nav">
    <div class="right_nav_header">
        <span class="right_nav_header_content">
                <img class="right_nav_icon" src="{% static 'Content/img/icon/hot_disscuss.png' %}"/>
                <span class="right_nav_title">热门讨论</span>
        </span>

        {% get_hot_discussions as disscussions %}
        <div class="list-group list-group-flush hot_disscussion_list">
            {% for discussion in disscussions %}
                <div class="list-group-item list-group-item-action list-group-item-white hot_discussion_item">
                    {% url 'Discussion:discussion_detail' discussion.pk as discussion_url %}
                    <a class="book_link" href="{{ discussion_url }}">
                        <img class="right_item_icon" src="{% static 'Content/img/icon/hot_discuss_item.png' %}"/>
                        <span class="right_item_title">{{ discussion.title| truncatechars:64 }}</span>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="more text-right mt-2">
        <a class="more_link btn btn-sm btn-outline-info" href="{% url 'Discussion:hot_discussions' %}">更多</a>
    </div>
</div>