{% extends 'Auth/profile.html' %}

{% block title %}
    更改密码
{% endblock %}

{% block setting %}
    <p class="lead text-center profile_title">修改密码</p>

    <form method="POST" action="" class="pb-4">
        {% csrf_token %}

        <div class="form-group">
            <label for="old_password">
                {{ form.old_password.label }}
            </label>

            {% if form.old_password.errors %}
                {% for error in form.old_password.errors %}
                    <small class="text-muted form-help">{{ error }}</small>
                {% endfor %}
            {% endif %}

            <input type="password" name="old_password" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="new_password1">
                {{ form.new_password1.label }}
            </label>

            {% if form.new_password1.errors %}
                {% for error in form.new_password1.errors %}
                    <small class="text-muted form-help">{{ error }}</small>
                {% endfor %}
            {% endif %}

            <input type="password" name="new_password1" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="new_password2">
                {{ form.new_password2.label }}
            </label>

            {% if form.new_password2.errors %}
                {% for error in form.new_password2.errors %}
                    <small class="text-muted form-help">{{ error }}</small>
                {% endfor %}
            {% endif %}

            <input type="password" name="new_password2" class="form-control"/>
        </div>

        <input type="submit" class="form-control btn btn-outline-info float-right" value="提交"/>
    </form>
{% endblock %}