{% extends 'Content/index.html' %}

{% block title %}
    重置密码
{% endblock %}

{% block content %}
    {% include 'component/pw_reset_switch.html' %}

    <div class="jumbotron profile_container pt-3 pb-5 bg-white">
        <p class="lead text-center profile_title">重设密码</p>

        <form method="POST" action="">
            {% csrf_token %}

            <div class="form-group text-center">
                <label for="email" class="text-center">
                    要重置密码的用户的邮箱
                </label>

                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <small class="form-help text-muted">{{ error }}</small>
                    {% endfor %}
                {% endif %}

                <input type="email" class="form-control" required name="email" id="email"/>
            </div>

            <input type="submit" class="btn btn-outline-info float-right col col-5" value="提交"/>
        </form>
    </div>
{% endblock %}

{% block right-nav %}
    <div class="right_nav_notification per_right_nav">
        <div class="container">
            <div class="row">
                <p class="lead">
                    如果你忘记了你的密码，在这里通过邮箱重置它。
                </p>
                <p class="lead">
                    我们将会发送一封带有确认url邮件到你的邮箱，点击即可重置你的密码。邮件将在一段时间内失效，请尽快查收邮件。
                </p>
            </div>
        </div>
    </div>
    {{ block.super }}
{% endblock %}