{% extends 'Content/index.html' %}

{% block title %}
    密码重置
{% endblock %}

{% block content %}
    <ul class="nav index_switch text-center">
        <li class="nav-item">
            <a class="nav-link index_switch_link link_switch_active"
               href="#" name="switcher">
                <span class="index_switch_text">密码重置</span>
            </a>
        </li>
    </ul>

    <div class="jumbotron profile_container pt-3 pb-5 bg-white">
        <p class="lead text-center profile_title">重设密码</p>

        {% if validlink %}
            <form method="POST" action="">
                {% csrf_token %}

                <div class="form-group text-center">
                    <label for="password1" class="text-center">
                        新密码
                    </label>

                    {% if form.new_password1.errors %}
                        {% for error in form.new_password1.errors %}
                            <small class="form-help text-muted">{{ error }}</small>
                        {% endfor %}
                    {% endif %}

                    <input type="password" class="form-control" required name="new_password1" id="password1"
                           minlength="8" maxlength="16"/>
                </div>

                <div class="form-group text-center">
                    <label for="password2" class="text-center">
                        确认密码
                    </label>

                    {% if form.new_password2.errors %}
                        {% for error in form.new_password2.errors %}
                            <small class="form-help text-muted">{{ error }}</small>
                        {% endfor %}
                    {% endif %}

                    <input type="password" class="form-control" required name="new_password2" id="password2"
                           minlength="8" maxlength="16"/>
                </div>

                <input type="submit" class="btn btn-outline-info float-right col col-5" value="提交"/>
            </form>
        {% else %}
            <p class="lead">
                你提交了一个失效的链接（无效或已过期）。请重新请求。
            </p>

            {% url 'Content:index' as index_url %}
            <a class="btn btn-outline-info float-right col col-5" href="{{ index_url }}">回到首页</a>
        {% endif %}
    </div>
{% endblock %}