{% extends 'Content/index.html' %}
{% load content_tags %}
{% load auth_tags %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'Auth/css/show_user_replys.css' %}" />
{% endblock %}

{% block title %}
    用户 {{ other_user.username }} 发起的讨论
{% endblock %}

{% block content %}
    <ul class="nav index_switch text-center">
        <li class="nav-item">
            <a class="nav-link index_switch_link link_switch_active" href="{% url 'User:user_discussions' slug=other_user.slug %}" >
                用户 {{ other_user.username }} 发表的所有回复
            </a>
        </li>
    </ul>

    {% show_user_replys replys %}
    {% paginate paginator page_obj %}

    <div class="placeholder mb-4">

    </div>
{% endblock %}

{% block right-nav %}
    <div class="per_right_nav">
        <a class="btn btn-outline-info" href="{% url 'User:user' slug=other_user.slug %}" style="width:100%">回到用户页</a>
    </div>

    {{ block.super }}
{% endblock %}