{% extends 'Content/index.html' %}
{% load discussion_tags %}
{% load auth_tags %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'Discussion/css/discussion_list.css' %}" />
    <link rel="stylesheet" href="{% static 'Auth/css/personal_page.css' %}" />
    <link rel="stylesheet" href="{% static 'Auth/css/show_user_replys.css' %}" />
{% endblock %}

{% block title %}
    用户{{ other_user.username }}
{% endblock %}


{% block content %}
    <div class="user_page jumbotron pt-4 pb-3">
        <div class="row">
            <div class="row justify-content-center usre_page_avatar col-12 col-md-4 pl-5">
                <img class="user_page_avatar_img" src="{{ other_user.avatar.url }}" />
            </div>

            <div class="user_page_info col-12 col-md-8 mt-3 mt-md-0">

                <div class="row  justify-content-center">
                    用户名：<p class="user_page_username mr-2"> {{ other_user.username }} </p>
                </div>

                {% if other_user.link %}
                    <div class="row justify-content-center">
                        个人网址：<p class="user_page_personal_link ml-2">
                            <a class="user_page_link" href="{{ other_user.link }}">
                                {{ other_user.link }}
                            </a>
                        </p>
                    </div>
                {% endif %}

                <div class="row justify-content-center">
                    邮箱：<p class="user_page_email">
                    {{ other_user.email }}
                </p>
                </div>

                {% if other_user.birth %}
                    <div class="row justify-content-center">
                        生日：<p class="user_page_birthday">
                        {{ other_user.birth }}
                             </p>
                    </div>
                {% endif %}

                {% if other_user.last_login %}
                <div class="row justify-content-center">
                    最后一次登录：<p class="user_page_last_login">
                    {{ other_user.last_login }}
                </p>
                </div>
                {% endif %}

            </div>
            <div class="row ml-4 mt-0 mt-md-2 pl-2 pr-4 pr-md-0">
                <p class="laed user_page_about">
                关于：
                {% if other_user.about %}
                    {{ other_user.about }}
                {% else %}
                    这个用户有点懒，没有留下任何东西
                {% endif %}
                </p>
            </div>
        </div>
    </div>

    <ul class="nav index_switch text-center" style="margin-top:-25px !important">
        <li class="nav-item">
            <a class="nav-link index_switch_link link_switch_active" href="{% url 'User:user' slug=other_user.slug %}">
                用户 {{ other_user.username }} 发起的讨论
            </a>
        </li>
    </ul>
    {% get_omit_discussions other_user as discussions %}
    {% if discussions %}
        {% show_discussions discussions %}
        <div class="more_discussions row justify-content-center my-3">
            <a class="btn btn-outline-info col col-4" href="{% url 'User:user_discussions' slug=other_user.slug %}">查看更多</a>
        </div>
    {% else %}
        <div class="row justify-content-center lead">
            Ta还没有发表任何讨论。
        </div>
    {% endif %}


    <ul class="nav index_switch text-center" style="margin-top: 0 !important">
        <li class="nav-item">
            <a class="nav-link index_switch_link link_switch_active" href="{% url 'User:user' slug=other_user.slug %}" >
                用户 {{ other_user.username }} 的回复
            </a>
        </li>
    </ul>
    {% get_omit_replys other_user as replys %}
    {% if replys %}
        {% show_user_replys replys %}

        <div class="more_replys row justify-content-center mt-3 mb-0 mb-md-3">
            <a class="btn btn-outline-info col col-4" href="{% url 'User:user_replys' slug=other_user.slug %}">查看更多</a>
        </div>
    {% else %}
        <div class="row justify-content-center lead mt-3 mb-0 mb-md-3">
        Ta还没有发表任何回复
        </div>
    {% endif %}

{% endblock %}