<div class="post_discussion p-3 my-3" id="reply_form">
    <form method="POST" action="{% url 'Discussion:post_reply' discussion.pk %}">
        <p class="lead">
            发表一个回复!
        </p>

        {% if form.errors %}
            <small class="form-help text-muted">{{ form.errors }}</small>
        {% endif %}

        {% csrf_token %}

        <div class="form-group">
            <label for="reply_box">
                回复正文
            </label>

            <textarea name="body" id="reply_box" class="form-control" rows="5">
                {% if form.body %}
                    {{ form.body }}
                {% endif %}
            </textarea>
        </div>

        <div class="submit pb-5" style="width:100%">
            <input type="submit" class="form-control btn btn-info col col-5 float-right mt-1 submit_reply" value="提交"/>
        </div>
    </form>
</div>