{% load discussion_tags %}
{% load content_tags %}
{% load auth_tags %}

<div class="lz p-4">
    <div class="row lz_info">
        <div class="post_top_info col col-9 pt-2 pl-4">
            <div class="post_title">
                {{ discussion.title }}
            </div>
            <div class="info text-muted mt-1">
                <span class="post_user">
                    用户:
                    <a class="discussion_user_link" href="{% url 'User:user' slug=discussion.user.slug %}">
                        {{ discussion.user.username }}
                    </a>
                </span>
                <span class="post_pub_date">
                    | 发布日期:
                    {{ discussion.pub_date }}
                </span>
            </div>
        </div>
        <div class="post_avatar col col-3 align-content-center text-center">
            <a class="discussion_user_link" href="{% url 'User:user' slug=discussion.user.slug %}">
                <img class="post_avatar_img align-content-center text-center" src="{{ discussion.user.avatar.url }}"/>
            </a>
        </div>
    </div>
    <div class="row post_body lead pt-3 px-4 pb-2">
        {% render_reply discussion.body %}
    </div>


    {% if not user.is_anonymous %}
        <div class="row reply_operations px-4 pb-3 mr-3">
            <div class="new_reply ml-auto col col-1 mr-5">
                {% check_collected_discussion request.user discussion as collected %}
                {% if not collected %}
                    <a class="new_reply_url btn btn-outline-info"
                       href="{% url 'Discussion:collect_discussion' %}?discussion-id={{ discussion.id }}">
                        收藏本话题
                    </a>
                {% else %}
                    <a class="new_reply_url btn btn-outline-info"
                       href="{% url 'Discussion:remove_collected_discussion' %}?discussion-id={{ discussion.id }}">
                        撤销收藏本话题
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>

{% get_discussion_replys discussion '-pub_date' 0 as replys %}
{% for reply in replys %}
    <div class="reply my-4 mx-0" id="{{ reply.id }}">
        <div class="row reply_top_info pt-3">
            <div class="reply_user_avatar col col-1 text-center mr-3 mr-md-0">
                <a class="discussion_user_link" href="{% url 'User:user' slug=reply.user.slug %}">
                    <img class="reply_avatar_img" src="{{ reply.user.avatar.url }}"/>
                </a>
            </div>

            <div class="reply_related_info col col-9 text-muted pt-2 pl-4 pl-md-4">
                <span class="reply_username">
                    <a class="discussion_user_link" href="{% url 'User:user' slug=reply.user.slug %}">
                        {{ reply.user.username }}
                    </a>
                </span>

                <span class="reply_pub_date">
                    | {{ reply.pub_date }}
                </span>
            </div>

            <div class="reply_index col col-1 text-muted ml-auto lead">
                {{ forloop.counter }}
            </div>
        </div>

        <div class="row reply_body lead px-5 py-2">
            {% render_reply reply.body %}
        </div>

        <div class="row reply_operations px-4 pb-3">
            <div class="new_reply ml-auto col col-1 mr-5">
                <a class="new_reply_url btn btn-outline-info reply_btn" data-user="{{ reply.user.username }}" href="#reply_form">
                    回复
                </a>
            </div>
        </div>
    </div>
{% endfor %}