{% for reply in replys %}
    <div class="user_reply">
        <div class="user_reply_info">
            <span class="user_reply_discussion">
                <a class="reply_info_link" href="{% url 'Discussion:discussion_detail' pk=reply.discuss.pk %}#{{ reply.id }}">
                    所在讨论：{{ reply.discuss.title }} |
                </a>
            </span>

            <span class="user_reply_book">
                <a class="reply_info_link" href="{% url 'Content:book' slug=reply.discuss.book.slug %}">
                    所在书籍：{{ reply.discuss.book.name }} |
                </a>
            </span>

            <span class="user_reply_time">
                发布日期：{{ reply.pub_date }} |
            </span>
        </div>

        <div class="user_reply_body">
            {{ reply.body }}
        </div>
    </div>
{% endfor %}