{% load static %}
{% load content_tags %}
{% load discussion_tags %}

{% for book in books_list %}
    <div class="book_body mb-4">
        <div class="row">

            <div class="col col-12 col-md-3 book_cover pl-4 pl-md-3 pr-0 my-3 text-center">
                <a class="book_link" href="{% url 'Content:book' slug=book.slug %}">
                    <img class="align-content-center book_cover_img" src="{{ book.cover.url }}"/>
                </a>
            </div>

            <div class="col col-12 col-md-9 book_info pl-5 pl-md-0">
                <div class="book_info_header text-muted">
                    <span class="book_auther">
                        <a class="auther_link" href="{% url 'Content:auther' book.auther.slug %}">
                            <img class="book_icon align-content-center"
                                 src="{% static 'Content/img/icon/auther.png' %}"/>
                            <small class="auther_name">{{ book.auther.name }}</small>
                        </a>
                    </span>
                    <span class="book_publishing">
                        <a class="publishing_link" href="{% url 'Content:publishing' book.publishing.slug %}">
                            <img class="book_icon align-content-center"
                                 src="{% static 'Content/img/icon/publishing.png' %}"/>
                            <small>{{ book.publishing.name }}</small>
                        </a>
                    </span>
                    <span class="book_pub_date">
                        <img class="book_icon align-content-center" src="{% static 'Content/img/icon/pub_date.png' %}" />
                        <small>{{ book.pub_date }}</small>
                    </span>
                </div>

               <div class="book_info_main">
                    <p class="book_name">
                        <a class="book_link" href="{% url 'Content:book' slug=book.slug %}">
                            {{ book.name }}
                        </a>
                    </p>
                    <p class="book_intro mr-2">
                        <small>
                            {{ book.intro| truncatechars:512 }}
                        </small>
                    </p>
                </div>

                <div class="book_info_footer text-muted pr-3 pr-md-0">
                    <span class="book_tags">
                        <img class="book_icon" src="{% static 'Content/img/icon/tag.png' %}" />
                        {% get_tags book as tags %}
                        {% for tag in tags %}
                            <a class="tag_link" href="{% url 'Content:tag' tag.slug %}">
                                <small class="text-muted tag">{{ tag.name }}</small>
                            </a>
                        {% endfor %}
                    </span>

                    <span class="book_discuss">
                        <a class="book_link" href="{% url 'Content:book' book.slug %}">
                            <img class="book_icon" src="{% static 'Content/img/icon/discuss.png' %}"/>
                            <small class="text-muted">{% get_discussions_number book %}</small>
                        </a>
                    </span>

                    <span class="book_viewing mr-5 mr-md-3">
                        <span>
                            <img class="book_icon" src="{% static 'Content/img/icon/up.png' %}" />
                            {{ book.viewing }}
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>

{% empty %}
    <p class="lead text-center mt-4">
        这儿还没有任何东西，去别的地方看看吧。
    </p>
{% endfor %}

